<?php
/**
 * @var \App\View\AppView $this
 * @var \App\Model\Entity\Question $question
 */
?>
<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('List Questions'), ['action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('List Questtionaire'), ['controller' => 'Questtionaire', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New Questtionaire'), ['controller' => 'Questtionaire', 'action' => 'add']) ?></li>
    </ul>
</nav>
<div class="questions form large-9 medium-8 columns content">
    <?= $this->Form->create($question) ?>
    <fieldset>
        <legend><?= __('Add Question') ?></legend>
        <?php
            echo $this->Form->control('score');
            echo $this->Form->control('question');
            echo $this->Form->control('create_at');
            echo $this->Form->control('id_category');
            echo $this->Form->control('questtionaire._ids', ['options' => $questtionaire]);
        ?>
    </fieldset>
    <?= $this->Form->button(__('Submit')) ?>
    <?= $this->Form->end() ?>
</div>
